@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

@foreach (var x in Model.Bowlers)
{
    //Display info: First Name, Middle Init, Last Name, Address, City, State, Zip, Phone Number
    <div class="m-0">
        <p class="m-0">@x.BowlerLastName, @x.BowlerFirstName @x.BowlerMiddleInit</p>
        <p class="m-0">@x.BowlerAddress, @x.BowlerCity @x.BowlerState @x.BowlerZip</p>
        <p class="m-0">@x.BowlerPhoneNumber</p>
        <br />
    </div>
}
<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.TeamName"></div>