@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

@*Lists out contact info*@
@foreach (var x in Model.Bowlers)
{
    //Display info: First Name, Middle Init, Last Name, Address, City, State, Zip, Phone Number
    <div class="m-0 card">
        <p class="m-0 font-weight-bold">@x.BowlerLastName, @x.BowlerFirstName @x.BowlerMiddleInit</p>
        <p class="m-0">@x.BowlerAddress</p>
        <p class="m-0">@x.BowlerCity, @x.BowlerState @x.BowlerZip</p>
        <p class="m-0">@x.BowlerPhoneNumber</p>
        <br />
    </div>
}
@*This becomes a button group that allows you to navigate between pages of results*@
<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.TeamName"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>